<ion-header>
  <ion-toolbar>
    <ion-title>
      Print Bluetooth
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>{{ conectado ? 'CONECTADO':'DESCONECTADO'}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="imprimir()" expand="block">IMPRIMIR</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="test()" expand="block">test</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="conectar()" expand="block">Conectar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="reset()" expand="block" color="danger">Reset</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="conectarConPromesa()" expand="block" color="danger">conectarConPromesa</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <p *ngFor="let mensaje of mensajes">{{ mensaje }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
